# Core do Dashboard (para Streamlit Cloud)
streamlit
pandas
plotly
emoji
Jinja2
# Processamento de Texto
spacy

# Link direto para o modelo de linguagem em português
https://github.com/explosion/spacy-models/releases/download/pt_core_news_lg-3.7.0/pt_core_news_lg-3.7.0.tar.gz#egg=pt_core_news_lg